<div class="py-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
          <div class="card rounded-0">
              <div class="card-header">
                  <h3 class="mb-0">Login</h3>
              </div>
              <div class="card-body">
                  <form class="form" [formGroup]="loginform" (ngSubmit)="loginUser()">
                      <div class="form-group">
                          <label for="uname1">Email</label>
                          <input type="text" formControlName="email" class="form-control rounded-0" required>
                      </div>
                      <div class="form-group">
                          <label>Password</label>
                          <input type="password" formControlName="password" class="form-control rounded-0" required>
                      </div>
                      <div class="form-group">
                        <label for="type">Type:</label>
                        <select  id="type" class="form-control rounded-0" formControlName="type">
                            <option value="Content-Writer">Content-Writer</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <span class="float-left">Need a account ?
                        <a  routerLink="/register" routerLinkActive="active">Register</a>
                    </span>
                      <button type="submit" class="btn btn-primary float-right" [disabled]="!loginform.valid">Login</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>